.link-info {
    padding: 10px;
    margin-left: 20px;
    display: block;
    cursor: pointer;
    width: fit-content;
}

.table-hover {
    cursor: pointer;
}

thead {
    text-transform: capitalize;
}

thead th {
    cursor: pointer;
}

.modal-title {
    text-transform: capitalize;
}

.t-up, .search-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-item {
    cursor: pointer !important;
}